<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ShipIt Nation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>-->
</head>
<body>
    {% include 'navbar.html' %}
    <!--now dont need to code navbar into every template-->

    {% block content %}


    {% endblock %}

</body>
</html>


<!--main template tells the computer where child data will eventually go-->